<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <a class="navbar-brand" href="#">Help Me with ADHD</a>
      <li class="nav-item">
        <a class="nav-link" href="/timer">Timer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tasks"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/reports">Reports</a>
      <li class="nav-item">
          <a class="nav-link" href="/login"></a>
      </li>
    </ul>
  </div>
</nav>