<!DOCTYPE html>
<html lang="en">
  <head>
	<title>Example Login Form</title>
  </head>
  <body>
	<div class = "login" style="width: 100px; float:left; height:100px; background:gray; margin:10px">
    <form action="localhost/login" method="post">
  	  <!-- user input-->
  	  Username:<br>
  	  <input type="text" name="username" placeholder="Username" required><br><br>
  	  Password:<br>
  	  <input type="password" name="password" placeholder="Password" required><br><br>
  	  <!-- submit button -->
  	  <input type="submit" value="login">
	</form>
    </div>
    <div class = "registerUser" style="width: 100px; float:left; height:100px; background:gray; margin:10px">
        <form action="localhost/register" method="post">
            Username:<br>
            <input type="text" name="registerUser" placeholder="newUser" required><br><br>
            Password: 
            <input type="text" name="registerPassword" placeholder="newPassword" required><br><br>
            Email: 
            <input type="text" name="registerEmail" place="newEmail" required><br><br>
            <input type = "submit" value="register"> 
            <button value="cancel"></button>
        </form>
    </div>
  </body>
</html>